@{
    ViewData["Title"] = "ONLINE SHOP";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ONLINE SHOP </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/wwwroot/css/site.css">
</head>
<body>
    <div class="hero">
        <h1 class= "text-light">Welcome Online Shop</h1>
        <p class= "text-light">Explore our latest collection of sportswear</p>
        <a href="#" class="btn btn-light btn-lg btn-secondary">Shop Now</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="product-card bg"> 
                <img src="~/images/busonike.jpg" alt="Nike Shoes" class="mb-2">
                <h5>Buso y Calentador Nike</h5>
                <p>$120.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <img src="~/images/deportivo.png" alt="Tennis Deportivos Nike" class="mb-2">
                <h5>Tennis Nike V2 Runn</h5>
                <p>$110.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <img src="~/images/tennis.jpg" alt="Tennis Jordan" class="mb-2">
                <h5>Jordan Retro 4</h5>
                <p>$100.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>

    @* Segunda Row *@

    </div>
        <div class="row mt-5">
        <div class="col-md-4">
            <div class="product-card bg"> 
                <img src="~/images/deportivo2.png" alt="Nike Shoes">
                <h5> Tennis Nike Metcon 5</h5>
                <p>$130.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <img src="~/images/deportivo3.png" alt="Tennis Deportivos Nike" >
                <h5>Tennis Nike Air Max 270</h5>
                <p>$130.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <img src="~/images/ecuador2.jpg" alt="Camiseta de Ecuador" class="img-fluid image mb-3">
                <h5>Camiseta de Ecuador Copa América</h5>
                <p>$100.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>

        @* Tercera Row *@

    </div>
        <div class="row mt-5">
        <div class="col-md-4">
            <div class="product-card bg"> 
                <img src="~/images/tennis puma.jpg" alt="Puma Shoes">
                <h5>Tennis Puma-180</h5>
                <p>$120.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <img src="~/images/camiseta.jpg" alt="Camiseta Nike" class="img-fluid image mb-4">
                <h5>Camiseta Nike</h5>
                <p>$70.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <img src="~/images/adiddas.jpg" alt="Adiddas" class="mb-3 img">
                <h5>Licra Adiddas</h5>
                <p>$30.00</p>
                <a href="#" class="btn btn-secondary">Buy Now</a>
            </div>
        </div>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>

}

</html>
